* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  min-height: 100%;
  background-color:  hsl(0deg, 0%, 60%);
}

/* Add styles here! */
strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  padding-top: 64px;
}

header {
  background-color: white;
}

header .max-width-wrapper {
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.intro-chunk {
  background-color: white;
  max-width: 41rem;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 32px 24px;
}

.intro-chunk p {
  max-width: 20rem;
}

.indented-heading {
  padding: 1rem 2rem;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  width: fit-content;
  margin-left: -32px;
  margin-block: 0px;
}

.card {
  background-color: white;
  max-width: 41rem;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 24px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}
