* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
html {
  font-size: 18px;
}

p {
  line-height: 1.4;
}

.intro-chunk {
  padding-top: 128px;
  padding-bottom: 72px;
  max-width: 500px;
}

.intro-chunk p {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.intro-chunk strong {
  font-weight: 900;
  color: hsl(245deg, 100%, 55%);
}

main {
  padding-top: 96px;
  padding-bottom: 128px;
  background: #111;
}

main p {
  font-size: 1.25rem;
}

.title {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 64px;
  color: black;
}

.max-width-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 32px;
}

.card {
  background: white;
  color: #333;
  padding: 32px;
  margin: 0 -32px;
}

.card *:last-child {
  margin-bottom: 0;
}

.indented-heading {
  margin: 0;
  margin-top: -24px;
  margin-left: -48px;
  margin-bottom: 24px;
  padding: 16px;
  padding-left: 48px;
  padding-right: 48px;
  background: hsl(45deg, 100%, 50%);
  color: black;
  width: fit-content;
  font-size: 1.5rem;
}
