* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
h1,
h2,
h3 {
  margin: 0;
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
}

.intro-chunk {
  padding: 96px 0 48px;
  max-width: 400px;
}

.intro-chunk p {
  font-size: 1.25rem;
  line-height: 1.4;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

.intro-chunk .title {
  font-size: 2rem;
  margin-bottom: 48px;
}

header {
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

main {
  background-color: hsl(0deg, 0%, 60%);
  padding: 96px 0;
}

.card {
  background-color: white;
  padding: 24px;
  margin: -24px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.indented-heading {
  background: hsl(45deg, 100%, 50%);
  margin-left: -32px;
  margin-top: -16px;
  padding: 16px 32px;
  width: fit-content;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}

.card p {
  font-size: 1.25rem;
  line-height: 1.4;
}

.card p:last-child {
  margin-bottom: 0;
}
